.alert{
    padding: 13px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .MuiSvgIcon-root{
        margin-right: 8px;
    }

    &.error{
        background-color: #ffcece;
        color: rgb(129, 34, 34);
    }

    &.success{
        background-color: #b8ffb3;
        color: #15720e;
    }

    &.warning{
        background-color: #fff170;
        color: rgb(71, 64, 0);
    }
}

.createUserWrapper{
    color: #01053d;

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #3497fa !important;
    }

    .MuiFormLabel-root.Mui-focused {
        color: #3497fa !important;
        font-family: inherit;
    }

    .MuiOutlinedInput-root {
        padding: 0!important;
        border-radius: 10px;
        font-family: inherit;
    }

    .MuiInputLabel-outlined{
        font-family: inherit;
    }

    .createUser{
        
        display: flex;
        background-color: rgb(248, 248, 248);
        width: 80%;
        border-radius: 20px;
        overflow: hidden;
        margin: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        &__left{
            width: 35%;
            background-color: #3497fa;
            padding: 0 30px;
            display: flex;
            align-items: center;       

            img{
                height: 250px;
                width: 100%;
            }
        }

        &__right{
            width: 65%;
            padding: 16px 40px;
            
            .form{

                padding-bottom: 6px;
                border-bottom: 1px solid #e2e2e2;
                border-top: 1px solid #e2e2e2;
                box-sizing: border-box;

                .formGroup{
                    display: flex;
                    justify-content: space-between;
                    margin: 25px 0;
                    

                    .MuiFormControl-root{
                        width: 48%;
                    }
                }
                &>.MuiFormControl-root{
                    width: 100%;
                }
            }

            .MuiButton-root{
                background-color: #3497fa !important;
                font-family: inherit !important;
                color: white;
                margin: 20px 0;
                float: right;
                border-radius: 5px;
                padding: 8px 20px;
                
                .MuiCircularProgress-root{
                    width: 15px !important;
                    height: 15px !important;
                    margin-right: 8px;
                    padding: 4px 12px;
                }
            }
            

            h2{
                font-weight: 900;
            }
        }
    }
}