.displayMails{
    width: 80%;
    margin: auto;

    table{
        width: 100%;
        border-collapse: separate;
        border-spacing: 0px 8px;
        tr{
            box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 4px;
            border-radius: 10px;
            td{
                padding: 10px;
            }
        }
        th{
            text-align: left;
            padding:15px 10px;
        }
        .mailRow{
            cursor: pointer;
            transition: .3s all;
            &:hover{
                background-color: dodgerblue;
                color: white;
                transform: scale(1.01);
            }
        }
    }
}