.header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 10vw;
    box-sizing: border-box;
    align-items: center;
    
    a{
        text-decoration: none;
        color: black;
    }

    .MuiSvgIcon-root{
        font-size: 30px;
    }

    &>div{
        display: flex;
        align-items: center;
        
        h4{
            cursor: pointer;
            transition: 1s all;
            font-size: 1.4em;
            &:hover{
                color: gray;
            }
        }

        .MuiAvatar-root{
            width: 30px;
            height: 30px;
            margin-right: 8px;
        }
    }
}