.usersWrapper{
    width: auto;
    // padding: 2% 0;
    color: #01053d;

    .users{
        width: 80%;
        margin: auto;

        &__header{
            &>div{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                &>a{
                    display: flex;
                    align-items: center;
                    color: black;
                    text-decoration: none;
                    padding: 10px 20px;
                    border-radius: 3px;
                    transition: .3s all;
                    &:hover{
                        background-color: #1e90ff;
                        color: #ffffff;
                    }
                }
            }
        }

        &__table{
            margin-top: 30px;
        }

        .options{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .searchInput{
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .MuiIconButton-root{
                    padding: 10px;
                }

                input{
                    border: none;
                    background-color: transparent;
                    font-size: 1em;
                    width: 70%;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }



        table{
            border-collapse: separate;
            // border-spacing: 0px 7px;
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            border-collapse: collapse;
            margin-bottom: 35px;

            thead{
                th{
                    padding: 25px 10px;
                    text-align: center;
                    border-bottom: 1px solid rgb(240, 240, 240);
                }
            }

            tr{
                // background-color: rgb(246, 250, 255);
                border-radius: 5px;
                // box-shadow: rgba(0, 0, 0, 0.103) 0px 1px 4px;
            
                td{
                    padding: 0px 10px;
                    text-align: center;
                }

                .user{
                    border-radius: 30px;
                    background-color: rgb(245, 245, 245);
                    padding: 3px 13px;
                    text-align: center;
                    width: max-content;
                    font-size: .8em;
                    width: 40px;
                    display: inline-block;

                    &.isAdmin{
                        background-color: dodgerblue;
                        color: white;
                    }
                    
                }
            }
        }

    }
}