.parent_login{
    width: 100%;
    display: flex;
    min-height: 100vh;

    .login{
        width: 70%;
        margin: auto;
        background-color: #ffffff;
        height: fit-content;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        &__shape{
            width: 35%;
            background-color: #1e90ff;
            height: 120%;
            transform:  translateY(-7%);
            position: absolute;
            left: -80px;
            z-index: -1000;
        }


        &__form{

            width: 48%;
            margin: auto;
            padding: 40px 0;

            .MuiButton-root{
                font-family: inherit;
                font-weight: bolder;
            }
            form{
                width: 90%;

                .MuiButton-root.google_login{
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    font-size: .8em;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                    img{
                        height: 20px;
                        margin-right: 10px;
                    }
                }
                
                label{
                    margin-top: 10px;
                    display: inline-block;
                }

                input{
                    box-sizing: border-box;
                    width: 100%;
                    border:2px solid rgb(238, 238, 238);
                    padding: 10px 5px;
                    font-family: inherit;
                    font-size: 1em;
                    transition: .3s all;

                    &:focus{
                        outline-width: 0px;
                        border-color: lightgray;
                    }

                }

               

                .MuiButton-root.submit{
                    width: 100%;
                    background-color: #1e90ff;
                    color: white;
                    margin-top: 20px;
                    text-transform: inherit;
                    padding: 10px 0;
                }
                a{
                    text-align: center;
                    text-decoration: none;
                    color: inherit;
                } 
            }
            
        }
    }
}