.parent_login{
    width: 100%;
    display: flex;
    min-height: 100vh;

    .login{
        width: 60%;
        margin: auto;
        background-color: #ffffff;
        height: fit-content;
        position: relative;
        border-radius: 10px;
        // box-shadow: rgba(211, 215, 226, 0.27) 0px 0px 0.5em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        // &__shape{
        //     width: 35%;
        //     background-color: #1e90ff;
        //     height: 120%;
        //     transform:  translateY(-7%);
        //     position: absolute;
        //     left: -65px;
        //     z-index: -1000;
        //     border-radius: 10px 5px 5px 10px;
        // }


        &__form{

            width: 60%;
            margin: auto;
            padding: 40px 0;

            .MuiButton-root{
                font-family: inherit;
                font-weight: bolder;
            }
            form{
                width: 90%;

                .MuiButton-root.google_login{
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    font-size: .8em;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                    img{
                        height: 20px;
                        margin-right: 10px;
                    }
                }

                .MuiFormControl-root{
                    width: 100%;
                    margin-bottom: 13px;
                }

                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                    border-color: #3497fa !important;
                }
            
                .MuiFormLabel-root.Mui-focused {
                    color: #3497fa !important;
                    font-family: inherit;
                }
            
                .MuiOutlinedInput-root {
                    padding: 0!important;
                    border-radius: 10px;
                    font-family: inherit;
                }
            
                .MuiInputLabel-outlined{
                    font-family: inherit;
                }

               

                .MuiButton-root.submit{
                    width: 100%;
                    display: block;
                    background-color: #1e90ff;
                    color: white;
                    margin: 20px auto;
                    text-transform: inherit;
                    padding: 10px 0;
                }
                a{
                    text-align: center;
                    text-decoration: none;
                    color: inherit;
                } 
            }
            
        }
    }
}