.passwordResetWrapper{
    margin-top: 4vh;
    .passwordReset{
        width: 80%;
        margin: auto;
        padding: 16vh 0;
        display: flex;
        align-items: center;
        flex-direction: column;



        form{
            width: 30%;
            .MuiFormControl-root{
                width: 100%;
                margin-bottom: 13px;
            }

            .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                border-color: #3497fa !important;
            }
        
            .MuiFormLabel-root.Mui-focused {
                color: #3497fa !important;
                font-family: inherit;
            }
        
            .MuiOutlinedInput-root {
                padding: 0!important;
                border-radius: 10px;
                font-family: inherit;
            }

            .MuiButton-root{
                // width: 30%;
                display: block;
                background-color: #1e90ff;
                color: white;
                margin: 5px auto;
                text-transform: inherit;
                padding: 8px 10%;

                &:hover{
                    background-color: #1e8fff98;
                }
            }
        }
    }
}
