.wrapperService{
    .service{
        width: 80%;
        margin: auto;
        &>div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            &>a{
                display: flex;
                align-items: center;
                color: black;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 20px;
                background-color: #1e90ff;
                color: #ffffff;
                transition: .2s all;
                
                &:hover{
                    background-color: #a4d2ff;
                    color: #ffffff;
                }
            }
        }
        table{
            width: 100%;
            text-align: left;
            margin: auto;
            border-collapse: separate;
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            
            
            td{
                padding: 3px 30px;
            }
            th{
                padding: 25px 30px;
                border-bottom: 1px solid rgb(240, 240, 240);
            }
            

            .MuiSvgIcon-root{
                cursor: pointer;
                margin: 5px;
                transition: .2s all;
                &:hover{
                    color: #1e90ff;
                    transform: scale(1.3);
                } 
            }
        }
    }
}